*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <!---------------------------------------- header start -----------------------------------------------> */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .header-left{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
header .header-left img{
    width: 90px;
    margin-right: 20px;
    margin-top: 5px;
}
header .header-left h1{
    font-family: sans-serif;
    font-size: 25px;
    margin-top: 10px;
}
header .header-right{
    display: flex;
    justify-content: space-around;
    width: 950px;
    /* border: 1px solid black; */
    padding: 24px 0px 24px 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.13);
    margin-right: 50px;
}
header .header-right a{
    text-decoration: none;
    margin-left: 20px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
}
/* <!---------------------------------------- header end -----------------------------------------------> */



/*-------------------------------------------- flex1 start ---------------------------------------*/
.sec1{
    /* background-color: red; */
    width: 380px;
    height: 320px;
    margin: 50px 0px 0px 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.26);
    padding-top: 10px;
}
.image1{
    background-color: black;
    height: 200px;
    margin: 20px 0px;
    background-image: url(result.jpeg);
    background-size: cover;
}
h4,h5{
    margin-left: 20px;
    font-weight: lighter;
}
.image2{
    background-color: black;
    height: 200px;
    margin: 20px 0px;
    background-image: url(school.jpg);
    background-size: cover;
}
.sec2{
    width: 380px;
    height: 320px;
    margin: 50px 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.26);
    padding-top: 10px;
}
.image3{
    background-color: black;
    height: 200px;
    margin: 20px 0px;
    background-image: url(page.jpg);
    background-size: cover;
}
.sec3{
    width: 400px;
    height: 370px;
    margin: 50px 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.26);
    padding-top: 10px;
}
/* <!--------------------------------------- flex1 end ------------------------------------------------> */



.sec4{
    width: 380px;
    height: 500px;
    margin: 50px 0px 0px 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.26);
    padding-top: 10px;
}
.image4{
    background-color: black;
    height: 380px;
    margin: 20px 0px 0px 13px;
    width: 350px;
    background-size: cover;
    background-image: url(bhim.png);
}
.image5{
    background-color: black;
    height: 380px;
    margin: 20px 0px 0px 13px;
    width: 350px;
    background-size: cover;
    background-image: url(gudi.png);
}
.image6{
    background-color: black;
    height: 380px;
    width: 350px;
    margin: 20px 0px 0px 13px;
    background-size: cover;
    background-image: url(rip.png);}


    /* --------------------------------------flex 2 end----------------------------------------------- */
    .image7{
    height: 200px;
    margin: 20px 0px;
    background-size: cover;
    background-image: url(mob.png);
    }
    .image8{
        background-color: black;
    height: 200px;
    margin: 20px 0px 0px 13px;
    background-size: cover;
    background-image: url(bag.jfif);
    width: 350px;
    }



















    /* --------------------------------------------about html css ----------------------------------*/
    .content2{
        /* background-color: black; */
        height: 550px;
        background-image: url(sec1.png);
        background-repeat: no-repeat;
        background-position: center right;
        background-position-x: 700px;
    }
    .content2 h1{
        font-size: 50px;
        font-family: sans-serif;
        text-align: center;
        color: grey;
        margin-bottom: 20px;
    }
    .content2 p{
        font-size: 26px;
        font-family: sans-serif;
        margin-left: 10px;
    }













/* ------------------------------------login html css ---------------------------------------------------*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    padding: 25px 0px;
    width: 31%;
    margin-left: 30%;
    position: relative;
    margin-bottom: 80px;
    top: 60px;
    left: 70px;
    border-radius: 20px;
    box-shadow: 1px 2px 20px 5px rgba(0, 0, 0, 0.137);
}
.container h2{
    font-size: 20px;
    font-family: sans-serif;
    text-transform: capitalize;
    margin-bottom: 30px;
    text-align: center;
}
.container input{
    width: 380px;
    margin-bottom: 30px;
    padding: 10px;
    outline: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid black;
    border-right: none;
}
.container input[placeholder]{
    font-size: 11.5px;
}
.container a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.logo2 img{
    position: relative;
    left: 630px;
    top: 40px;
}


/* container 2 start */
.container2{
    height: 220px;
    background-image: url(login.png);
    background-repeat: no-repeat;
    background-position-x: 400px;
    background-size: 600px;
}
.container2 .anchor1{
    text-align: center;
    text-decoration: none;
    position: relative;
    left: 600px;
    top: 20px;
    border: 1px solid black;
    padding: 15px 75px;
    border-radius: 20px;
    background: linear-gradient(90deg, #092450a1 0%, #9cfff8 100%);
    color: white;
    
}
.anchor2{
    position: relative;
    top: 80px;
    left: 420px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}







/*----------------------------------------------- signup html css------------------------------------- */
