*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    padding: 25px 0px;
    width: 31%;
    margin-left: 30%;
    position: relative;
    margin-bottom: 80px;
    top: 60px;
    left: 70px;
    border-radius: 20px;
    box-shadow: 1px 2px 20px 5px rgba(0, 0, 0, 0.137);
}
.container h2{
    font-size: 20px;
    font-family: sans-serif;
    text-transform: capitalize;
    margin-bottom: 30px;
    text-align: center;
}
.container input{
    width: 380px;
    margin-bottom: 30px;
    padding: 15px 0px;
    outline: none;
    border-radius: 15px;
    border: 1px solid black;
}
.container input[placeholder]{
    font-size: 11.5px;
    padding-left: 10px;
}
.container a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    text-decoration: underline;
}
.logo2 img{
    position: relative;
    left: 645px;
    top: 40px;
}


/* container 2 start */
.container2{
    height: 325px;
    background-image: url(login.png);
    background-repeat: no-repeat;
    background-position-x: 340px;
    background-size: 750px;
    background-position-y: 60px;
}
.container2 .anchor1{
    text-align: center;
    text-decoration: none;
    position: relative;
    left: 490px;
    top: 20px;
    border: 1px solid black;
    padding: 15px 150px;
    border-radius: 20px;
    background: linear-gradient(90deg, #092450a1 0%, #9cfff8 100%);
    color: white;
    
}
.anchor2{
    position: relative;
    top: 80px;
    left: 170px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}